.footer {
    background-repeat: no-repeat;
    background-size: contain;
    background: #FF8598;
    height: 60vh;
    padding: 0 15vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.footer_primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.footer_title {
    color: #070217;
    text-align: center;
    font-size: 48px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    line-height: 56px;

    /* Dark */

    color: #0A142F;

}

.footer_body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    padding-top: 20px;
    text-align: center;

    color: #402325;

    opacity: 0.8;
}

.footer_nav {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.footer_nav_links {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */


    color: #402325;

}

.footer_secondary {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_logo {
    display: flex;
}

.footer_rights {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    /* identical to box height, or 88% */

    text-align: center;

    /* Dark */

    color: #0A142F;
}

.footer_socials {

    display: flex;
    column-gap: 10px;
}

.footer_logo_title {
    color: #070217;

    font-size: 24px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.72px;
    /* identical to box height */


    color: #402325;

}

.footer_socials_fb,
.footer_socials_ln,
.footer_socials_tw {

    /* Dark */
    height: 39px;
    width: 39px;
    border: 1.5px solid #0A142F;
    border-radius: 19.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_rights {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_logo_title {
    display: flex;
    align-items: center;
    justify-content: center;
}