.carousel_wrapper {
    width: 93vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid red;
    justify-content: center;
    text-align: center;
}

.carousel_wrapper>div {
    width: 80vw;
    gap: 2vw;
}