.comment-box {
    border-radius: 20px;
    border: 1px solid #DF324D;
    background: #F8E5D6;
    color: black;
    min-height: 10vh;
    margin: 10px;
    padding: 30px;
}

.commenter-details {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;


}

.commenter-details img {
    border-radius: 50%;
}