.comm-wrapper {
  margin-top: 20px;
}

.comments-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.comment-form {
  background-color: #ffffff; /* White background */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.comment-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.comment-profile-image {
  flex: 0 0 100px;
  margin-right: 15px;
}

.comment-inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.comment-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.comment-flex {
  display: flex;
  align-items: center;
}

.comment-textarea {
  padding: 10px;
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  margin-right: 10px;
  width: 100%;
}

.comment-components {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .comment-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .comment-profile-image img {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
  }
}
