.comment-box {
    border-radius: 20px;
    border: 1px solid #DF324D;
    background: #F8E5D6;
    color: black;
    min-height: 10vh;
    margin: 10px;
    padding: 30px;
}

.commenter-details {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    color: brown;


}

.comment-content {
    font-style: italic;
    margin: 1vh 0;
}

.commenter-details img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 768px) {
    .commenter-details {
        flex-direction: column;
        row-gap: 5px;
    }

}