.wrapper {
    width: 303.75px;
    height: 306.8px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    margin: 100px 70px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05);
}

.wrapper:hover {
    transform: translateY(-10px);
}

.image {
    width: 273.75px;
    height: 150px;
}

.image1 {
    display: flex;
    width: 70px;
    height: 70px;
    padding: 15px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 70px;
    background: #FFF;
    box-shadow: 0px 13px 14px 0px rgba(129, 104, 145, 0.05);
}

.wrapper h1 {
    color: #192335;
    text-align: center;
    font-family: 'latin';
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.8px;
    margin: 5px 0;
    /* 130.526% */
}

.wrapper h3 {
    color: #192335;
    text-align: center;
    font-family: 'latin';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 161.538% */
}