@tailwind base;
@tailwind components;
@tailwind utilities;

.katex-display>.katex>.katex-html {
  text-align: left;
}

.katex-display>.katex>.katex-html>.base .mord {
  display: inline-block;
}

.katex-display>.katex {
  white-space: pre-wrap !important;
  overflow-wrap: break-word;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  height: auto;
}