.question p:first-child {
    color: #192335;
    font-family: 'latin';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.5px;
    /* 130% */
}

.head {
    margin: 30px 0;
}