.navigation {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
  align-items: center;
  padding: 0.5rem 0rem;
  backdrop-filter: blur(37px);
  background: linear-gradient(90deg, #ed8c46 3.49%, #df2952 67.5%);
  position: relative;
  color: white;
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  display: flex;
  margin-left: auto;
}

.login {
  width: 125px;
  height: 34px;
  font-weight: 800;
  font-size: 16px;
  color: #D9584A;
  text-decoration: transparent;
  background: #F9EFE7;
  backdrop-filter: blur(40px);
  border-radius: 145px;
}

.signup {
  background: #1E1E1E;
  backdrop-filter: blur(40px);
  width: 124px;
  font-weight: 600;
  height: 34px;
  font-size: 16px;
  border-radius: 145px;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  right: 0;
  top: 20px;
  transform: translateY(-50%);
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
  }

  .navigation-menu {
    display: none;
  }

  .navigation-menu-expanded {
    display: flex; /* Show expanded menu */
    flex-direction: column;
    width: 100%;
    height: auto;
    border-top: 1px solid black;
    overflow: hidden;
    z-index: 10000000000;
  }

  .navigation-menu-expanded ul {
    display: block;
    padding: 0;
  }

  .navigation-menu-expanded li {
    text-align: center;
    margin: 2vh;
    font-size: 22px;
  }

  .navigation-menu-expanded li:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
    row-gap: 1vh;
  }

  .navigation-menu-expanded li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
}
