.question {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    overflow: hidden;
}

.head {
    font-size: 35px;
    margin: 30px 30px;
    font-weight: 600;
}