.main-container {
  display: flex;
  margin: 5vh 0;
  justify-content: center;
  flex-direction: column;
}

.content-boy {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.content-side {
  font-family: Arial, sans-serif;
  width: 40%;

}

.question-videos {
  width: 90%;
  padding-left: 50px;
}

.back-btn-here {
  margin-left: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.similar-video-text {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  color: #402c69;
}

.video-card {
  background-color: #6e6eec;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
}

.sidebar {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.title-para {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  color: #4B01D4;
}

.title-para2 {
  display: flex;
  justify-content: center;
}

.similar-questions-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 10px;
}

.content {
  flex: 3;
  background-color: #ffffff;
  width: 60%;
}

.graph-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.graph-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.graph-grid iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.question-text-container {
  margin-top: 20px;
  padding: 20px;
}

.question-tags {
  margin-left: 5px;
  display: flex;
  color: #32323598;
  font-size: 14px;
  gap: 5px;
  font-style: 'Poppins';
}

.content-parent {
  display: flex;
  flex-direction: column;
}

.question-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 50px;
}

.comments-section {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.scrolling-effect {
  display: flex;
  flex-direction: column;
}

.scrolling-effect p {
  font-family: 'Popins', sans-serif;
  font-size: 18px;
  color: #2F2C4A;
  padding: 20px;
}

.scrolling-effect button {
  margin-top: 20px;
  color: #4B01D4;
  height: 40px;
  border-radius: 10px;
  width: 20%;
  background-color: #6e39d043;
}

.question-boxes,
.concept-boxes {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  display: flex;
  border-radius: 10px;
}

.similar-questions-container {
  width: 80%;
}

.modal-toggle {
  
  padding: 5px 10px;
  background-color: #000000bf;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.image-grid{
  display: flex;
  gap: 20px;
  padding:10px 0;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-iframe-container {
  width: 100%;
  height: 100%;
  position: relative;

}

.modal-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 100px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .sidebar {
    padding: 10px;
  }

  .content {
    padding: 10px;
  }

  .question-title {
    font-size: 16px;
  }

  .embed-container {
    height: 250px;
  }

  .utilities {
    flex-direction: column;
  }

  .tags-container {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .question-text {
    font-size: 10px;
  }

  .content-boy {
    flex-direction: column;
  }

  .content,
  .content-side {
    width: 100%;
  }
}