.question-text {
  background: #f9efe7;
  border-radius: 10px 10px 0px 0px ;
  color: black;
  padding: 25px;
  border: 4px solid #e91e63;
  
}

.question-heading{  
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  
  color: #E91E63;
}

.container-question-concept{
  display: grid;
  grid-template-columns: 2.8fr 1fr;
  column-gap: 3vw;
  margin-top: 8vh;

}
.similar-container{
  border: 4px solid red;
  border-radius: 20px 20px 0 0 ;
  max-height:150vh;
  overflow-y: scroll;
  background-color: white;
  position: relative;
  scrollbar-width: none;
}
.concept-container{
  border-radius: 20px 20px 0 0 ;
  border: 4px solid red;
  max-height:150vh;
  overflow-y: scroll;
  scrollbar-width: none;


}
.concept-container::-webkit-scrollbar {
  display: none;
}
.similar-container::-webkit-scrollbar {
  display: none;
}
.similar-question-title{
  font-family: 'Rounded Mplus 1c Bold';
font-style: normal;
font-weight: 700;
position: sticky;
top: 0;
font-size: 54px;
line-height: 80px;
min-height: 12vh;
background: linear-gradient(90deg, #FF7426 25.34%, #E91E63 87.89%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
padding: 0 30px;

}
.related-concept-title{
  font-family: 'Rounded Mplus 1c Bold';
font-style: normal;
border-radius: 20px 20px 0 0 ;

font-weight: 700;
background: linear-gradient(90deg, #ED8C46 4.81%, #DF2952 68.82%);
backdrop-filter: blur(40px);
font-size: 35px;
text-align: center;
line-height: 62px;
display: flex;
align-items: center;
justify-content: center;

color: #FFFFFF;

}

.question-boxes{
  border: 2px solid red;
  border-left: 0 solid #000;
  border-right: 0 solid #000;
  border-bottom: 0;
  padding: 20px;
  font-family: 'Archivo';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 172.8%;
/* or 38px */


color: #000000;

}

.concept-boxes div{
   width: auto;
}