.home_wrapper {
    height: 100vh;
    width: 100%;
    background-image: url('../public/assets/mainBackground1.png');
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: cover;


}

.content {
    display: flex;
    flex-direction: row;
    column-gap: 40px;

}

.head {
    max-width: 60vw;
}

.head h1 {
    color: #192335;
    font-family: Inter;
    font-size: 77px;
    font-style: normal;
    font-weight: 900;
    line-height: 106.6px;
    /* 138.442% */
    letter-spacing: -0.5px;
}

.head h3 {
    color: #6B7385;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 189.474% */
}

.video {
    display: flex;
    align-items: center;

}

.video video {
    width: 426.25px;
    height: 341.48px;
    max-width: 526.25px;
    border-radius: 6px;
}

.button_group {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin: 40px 0;

}


.button_group button:first-child {
    display: flex;
    height: 60px;
    padding: 0px 26px;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
    background: linear-gradient(90deg, #2F57EF 0%, #B966E7 33.33%, #B966E7 66.67%, #2F57EF 100%);
    width: 200px;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    /* 400% */
    letter-spacing: 0.5px;
    transition: 0.5s;
}

.button_group button:last-child {
    display: flex;
    height: 60px;
    padding: 0px 26px;
    color: #192335;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    /* 400% */
    letter-spacing: 0.5px;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
    background: #FFF;
    box-shadow: 0px 6px 34px 0px rgba(215, 216, 222, 0.41);
    width: 200px;
    transition: 0.5s;

}

.button_group button:hover {
    scale: 1.1;
}